:root {
  --font: "Poppins", sans-serif;
  --bgwhite: #fff;
  --bgcontact: #6070ff;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --bgcolor: #f5f6fa;
  --bgborder: grey;
  --color: #0290ff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px 100px;
  background-color: var(--bgcolor);
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}
